/* body {
  background-image: url(./nba-players.png);
  background-repeat: repeat;
  background-size: 50%;
  overflow: hidden;
} 

h1 {
  color: white;
} */

.container {
  display: flex;
}

.container-two {
  display: flex;
  margin-top: 2px;
}

.container-three {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 150px;
  margin-left: 46px;
}

#name {
  width: 215px;
}

#weight {
  height: 202px;
  margin-left: 17px;
  padding-left: 9px;
  padding-right: 9px;
  /* border: 3px dashed yellow; */
}

#player-container {
  width: 300px;
  height: 601px;
  /* border: 3px red solid; */
}

#player-container > div {
  border: 1px blue solid;
  display: flex;
  height: 100px;
  width: 300px;
  border-radius: 20px;
}

form {
  margin-top: 16px;
  margin-left: 270px;
}

#playerName2 {
  padding-left: 20px;
  padding-right: 15px;
  width: 191px;
  height: 200px;
  border-right-width: 3px;
  /* border: 3px dashed red; */
}

#teamName2 {
  padding-right: 15px;
  width: 238px;
  height: 200px;
  /* border: 3px dashed blue; */
  margin-right: 10px;
  margin-left: 14px;
}

#position {
  width: 100px;
  height: 200px;
  /* border: 3px dashed orange; */
  padding-right: 7px;
  margin-right: 15px;
}

#height {
  padding-right: 15px;
  height: 202px;
  /* border: 3px dashed lawgreen; */
}

#logo {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

button {
  margin-left: 10px;
  width: 76px;
  height: 26px;
  margin-top: 36px;
  margin-left: 29px;
}

#player-container {
  margin-top: 40px;
}

p {
  margin-top: 40px;
  margin-left: 51px;
}

.columns:hover {
  background-color: aqua;
  color: white;
}
