.container {
  display: flex;
}

.container-two {
  display: flex;
}

.container-three {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
}

#name {
  width: 215px;
}

#player-container {
  width: 300px;
  height: 601px;
  border: 3px red solid;
}

#player-container > div {
  border: 1px blue solid;
  height: 30%;
  width: 100%;
}

form {
  margin-top: 30px;
  margin-left: 30px;
}

#playerName2 {
  padding-left: 20px;
  padding-right: 15px;
  width: 191px;
  height: 200px;
  padding-top: 79px;

}

#teamName2 {
  padding-right: 15px;
  width: 238px;
  height: 200px;
}

#position {
  padding-right: 15px;
  width: 100px;
  height: 200px;
}

#height {
  padding-right: 15px;
}
